@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  /* width */
  /* Track */
  /* Handle */
}

html::-webkit-scrollbar {
  width: 0.7rem;
}

html::-webkit-scrollbar-track {
  background: #111;
}

html::-webkit-scrollbar-thumb {
  background: #29d9d5 !important;
  border-radius: 10px;
}

body {
  background-color: #111;
  overflow-x: hidden;
}

section {
  margin: 3.5rem 0;
}

@media (max-width: 992px) {
  section {
    margin: 3rem 0;
  }
}

h1 {
  font-size: 6vw;
  color: #fff;
}

@media (max-width: 768px) {
  h1 {
    font-size: 6.9vw;
  }
}

.heading-section-container .sub-heading-sect {
  color: #29d9d5 !important;
  font-size: 1.3rem;
  font-weight: 500;
  display: block;
  padding-bottom: 3px;
}

.heading-section-container .heading-section {
  font-size: 2.4rem;
  padding-bottom: 25px;
}

header nav {
  padding: 12px 0 !important;
  -webkit-transition: 0.4s !important;
  transition: 0.4s !important;
  background-color: #222 !important;
}

header nav .mycontainer .show-with-transition {
  -webkit-transition: 0.4s !important;
  transition: 0.4s !important;
}

header nav .mycontainer .paper-icon {
  color: #29d9d5 !important;
}

header nav .mycontainer .brand {
  letter-spacing: 1px;
}

header nav .mycontainer .ulLinks li a {
  padding: 10px 0 !important;
  -webkit-transition: 0.3s !important;
  transition: 0.3s !important;
  font-weight: 400;
  font-size: 1.15rem;
}

header nav .mycontainer .ulLinks li a.active {
  color: #29d9d5 !important;
}

header nav .mycontainer .ulLinks li a:hover {
  color: #29d9d5 !important;
}

.main-link {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 400;
  color: #29d9d5 !important;
  border: 0.18rem solid #29d9d5 !important;
  padding: 9px 30px 11px 30px !important;
  -webkit-transition: 0.4s !important;
  transition: 0.4s !important;
  background-color: transparent;
}

.main-link:hover {
  color: #111 !important;
  background-color: #29d9d5 !important;
}

.box .my-card {
  background-color: #222 !important;
  border-radius: 0.7rem;
}

.box .my-card .image-container {
  width: 100%;
  height: 15rem;
  overflow: hidden;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
}

.box .my-card .image-container .my-card-img {
  -webkit-transition: 0.4s !important;
  transition: 0.4s !important;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.box .my-card .card-content .my-card-head {
  font-size: 1.4rem;
}

.box .my-card .card-content .my-card-text {
  line-height: 1.8;
}

.box .my-card .card-content .card-link-container {
  color: #29d9d5 !important;
}

.box .my-card .card-content .card-link-container .card-link {
  color: #29d9d5 !important;
}

.box .my-card .card-content .card-link-container .my-arrow-right {
  padding-left: 5px;
  -webkit-transition: 0.4s !important;
  transition: 0.4s !important;
}

.box .my-card .card-content .card-link-container:hover .my-arrow-right {
  padding-left: 20px;
}

.box .my-card:hover .my-card-img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.landing-page {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.7)), to(rgba(17, 17, 17, 0.7))), url(../../imgs/home-bg.png);
  background-image: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url(../../imgs/home-bg.png);
  background-size: cover;
  background-position: center;
  min-height: 80vh;
  margin: 6rem auto auto !important;
  border-radius: 1rem;
  width: 90%;
}

.landing-page .container span {
  letter-spacing: 1px;
  text-transform: capitalize;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  font-size: 4vw;
  display: block;
}

.landing-page .container p {
  max-width: 46rem;
  margin: 1rem auto 2rem;
  font-size: 1.2rem;
  line-height: 1.7;
}

.book-form {
  width: 80%;
  min-height: 10rem;
  margin: -3rem auto 1rem;
  background: #222 !important;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.7);
          box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.7);
}

.book-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.2rem;
  padding: 1.2rem;
}

.book-form form * input {
  width: 100%;
}

.book-form form .input-box {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 15rem;
          flex: 1 0 15rem;
}

.book-form form .input-box .form-label {
  display: block;
  font-size: 1.2rem;
  margin-left: 1rem;
  color: #aaa !important;
  margin-top: 1rem;
}

.book-form form .input-box input {
  caret-color: #fff;
  padding: 9px 20px 13px;
  border-radius: 5rem;
  border: 0.18rem solid #29d9d5 !important;
  font-size: 1.2rem;
  background-color: transparent;
  color: #aaa !important;
  outline: none !important;
}

.book-form form .input-box input:active {
  outline: none;
}

.book-form form .btn-submit {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 10rem;
          flex: 1 0 10rem;
  width: 100%;
}

.book-form form .my-badge {
  font-size: 14px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about .about-container .my-indicators {
  bottom: -50px;
}

.about .about-container .my-indicators .circle-indicator {
  width: 20px;
  height: 20px;
  margin: 0 10px;
  border-radius: 50%;
  opacity: 1 !important;
  -webkit-transition: 0.4s !important;
  transition: 0.4s !important;
}

.about .about-container .my-indicators .circle-indicator:hover, .about .about-container .my-indicators .circle-indicator.active {
  background-color: #29d9d5 !important;
}

.about .about-container .my-video-slider {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.about .about-container .my-video-slider .my-video-container {
  padding: 10px;
}

.about .about-container .my-video-slider .my-video-container .video {
  max-width: 100%;
  border-radius: 11px;
}

.about .about-container .video-content {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 10px;
}

.about .about-container .video-content .above-head-video {
  color: #29d9d5 !important;
}

.about .about-container .video-content .head-video {
  padding: .4rem 0 0.5rem;
  font-size: 2.8rem;
}

.about .about-container .video-content .video-p {
  line-height: 1.8;
}

.about .about-container .video-content .video-link {
  display: inline-block;
  margin-top: 0.6rem;
}

.services .services-container .box .my-card {
  border: 2px solid #222 !important;
  padding: 30px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.services .services-container .box .my-card .font-awesome-service {
  color: #29d9d5 !important;
}

.services .services-container .box .my-card:hover {
  border-color: #29d9d5 !important;
}

.services .services-container .box .service-card-content {
  padding-bottom: 0 !important;
}

.services .services-container .box .service-card-content .my-card-head {
  margin: 0 !important;
}

.services .services-container .box .service-card-content .my-card-text {
  padding: 10px 0;
}

.gallery .box {
  -webkit-columns: 15rem 3;
          columns: 15rem 3;
}

.gallery .gallery-container .image-container {
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
  margin-bottom: 1rem;
}

.gallery .gallery-container .image-container .img-in-gallery {
  border-radius: 0.7rem;
  width: 100%;
  margin-bottom: 0.3rem;
}

.testimonial .testimonial-box .testimonial-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 12rem;
          flex: 1 1 12rem;
}

.testimonial .testimonial-box .testimonial-content .heading-section {
  padding-bottom: 10px !important;
}

.testimonial .testimonial-box .testimonial-content .testimonial-head-text {
  line-height: 1.8;
}

.testimonial .testimonial-box .testimonial-cards {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 13rem;
          flex: 1 1 13rem;
  padding: 25px 0 25px 25px;
}

.testimonial .testimonial-box .testimonial-cards .my-card {
  padding: 20px;
  border: 2px solid #222 !important;
  -webkit-transition: 0.4s !important;
  transition: 0.4s !important;
}

.testimonial .testimonial-box .testimonial-cards .my-card:hover {
  border-color: #29d9d5 !important;
}

.testimonial .testimonial-box .testimonial-cards .my-card .user-text {
  font-size: 0.99rem;
  padding-bottom: 10px !important;
  line-height: 1.7;
}

.testimonial .testimonial-box .testimonial-cards .my-card .user-content img {
  width: 50px;
  height: 50px;
}

.testimonial .testimonial-box .testimonial-cards .my-card .user-content .user-content .user-title {
  font-size: 1.13rem;
}

.blog .blog-container .blog-card .card-links {
  font-size: 1rem;
}

.blog .blog-container .blog-card .card-links .blog-link {
  -webkit-transition: 0.4s !important;
  transition: 0.4s !important;
}

.blog .blog-container .blog-card .card-links .blog-link:hover {
  color: #29d9d5 !important;
}

.blog .blog-container .blog-card .card-links .font-awesome-blog {
  color: #29d9d5 !important;
}

.adventure {
  margin: 3.5rem 0 2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.7)), to(rgba(17, 17, 17, 0.7))), url(../../imgs/banner-bg.png) no-repeat;
  background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url(../../imgs/banner-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.adventure .adventure-container {
  padding: 3rem 2rem;
}

.adventure .adventure-container .adventure-content {
  max-width: 600px;
}

.adventure .adventure-container .adventure-content .heading-section-container .heading-section {
  padding-bottom: 0 !important;
}

.adventure .adventure-container .adventure-content .heading-section-container .adventure-head-text {
  color: #ffffff9e !important;
  line-height: 1.8;
}

@media (max-width: 1200px) {
  .btn-submit {
    margin-bottom: 15px;
  }
  .about .about-container .my-video-slider {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
  .about .about-container .my-video-slider .my-video-container {
    padding: 10px;
  }
  .about .about-container .my-video-slider .my-video-container .video {
    max-width: 100%;
    border-radius: 11px;
  }
  .about .about-container .video-content {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  .about .about-container .video-content .head-video {
    padding: .2rem 0 0.3rem;
    font-size: 2.5rem;
  }
  .about .about-container .video-content .video-p {
    line-height: 1.6;
  }
  .about .about-container .video-content .video-link {
    display: inline-block;
    margin-top: 0.3rem;
  }
}

@media (max-width: 1008px) {
  .book-form form .btn-submit {
    margin-bottom: 0 !important;
  }
}

@media (max-width: 992px) {
  .about .about-container .my-video-slider {
    min-width: 100%;
  }
  .about .about-container .my-video-slider .my-video-container .video {
    max-width: 100%;
    border-radius: 11px;
  }
  .about .about-container .video-content {
    min-width: 100%;
    margin-top: 3rem;
  }
  .about .about-container .video-content .head-video {
    padding: .2rem 0 0.3rem;
    font-size: 2.5rem;
  }
  .about .about-container .video-content .video-p {
    line-height: 1.6;
  }
  .testimonial .testimonial-box .testimonial-cards .my-card {
    padding: 15px;
  }
  .testimonial .testimonial-box .testimonial-cards .my-card .user-text {
    font-size: 0.83rem;
  }
  .testimonial .testimonial-box .testimonial-cards .my-card .user-content .user-content img {
    width: 44px;
    height: 44px;
  }
  .testimonial .testimonial-box .testimonial-cards .my-card .user-content .user-content .user-title {
    letter-spacing: 1px;
    font-size: 1rem;
  }
}

@media (max-width: 851px) {
  .testimonial .testimonial-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .testimonial .testimonial-box .testimonial-content {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .testimonial .testimonial-box .testimonial-content .testimonial-head-text {
    line-height: 1.7;
  }
  .testimonial .testimonial-box .testimonial-cards {
    padding: 0;
  }
  .testimonial .testimonial-box .testimonial-cards .my-card {
    padding: 20px;
    border: 2px solid #222 !important;
    -webkit-transition: 0.4s !important;
    transition: 0.4s !important;
  }
  .testimonial .testimonial-box .testimonial-cards .my-card:hover {
    border-color: #29d9d5 !important;
  }
  .testimonial .testimonial-box .testimonial-cards .my-card .user-text {
    font-size: 0.99rem;
    padding-bottom: 10px !important;
    line-height: 1.7;
  }
  .testimonial .testimonial-box .testimonial-cards .my-card .user-content img {
    width: 50px;
    height: 50px;
  }
  .testimonial .testimonial-box .testimonial-cards .my-card .user-content .user-content .user-title {
    font-size: 1.13rem;
  }
}

@media (max-width: 768px) {
  .landing-page {
    margin-top: 1rem;
  }
  .landing-page .container span {
    letter-spacing: 1.5px;
    font-size: 5.5vw;
  }
  .landing-page .container h1 {
    margin-top: 0.5rem;
  }
}

@media (max-width: 585px) {
  .book-form form .input-box:not(:first-of-type) .form-label {
    margin-top: .3rem;
  }
  .book-form form .btn-submit {
    display: inline;
    margin: 1rem 0 1.3rem !important;
  }
}

@media (max-width: 560px) {
  .about .about-container .video-content {
    margin-top: 3rem;
  }
  .about .about-container .video-content .head-video {
    padding: .3rem 0 0.5rem;
    font-size: 2rem;
  }
  .about .about-container .video-content .video-p {
    font-size: 1.1rem;
    line-height: 1.8;
  }
  .about .about-container .video-content .video-link {
    margin-top: 0.5rem;
  }
}

.footer {
  margin: 0 0 2rem !important;
}

.footer .footer-container .first-box .paper-icon {
  color: #29d9d5 !important;
}

.footer .footer-container .first-box .icons .footer-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: #29d9d5 !important;
  border: 2px solid #29d9d5 !important;
  -webkit-transition: 0.4s !important;
  transition: 0.4s !important;
}

.footer .footer-container .first-box .icons .footer-icon:hover {
  color: #111 !important;
  background-color: #29d9d5 !important;
}

.footer .footer-container .second-box .my-footer-nav .my-nav-item .footer-arrows, .footer .footer-container .third-box .my-footer-nav .my-nav-item .my-footer-link .footer-contact-icons {
  color: #29d9d5 !important;
  font-size: 0.89rem;
}

.footer .footer-container .second-box .my-footer-nav .my-nav-item .arrow-link {
  -webkit-transition: 0.4s !important;
  transition: 0.4s !important;
}

.footer .footer-container .second-box .my-footer-nav .my-nav-item:hover .my-footer-link {
  color: #29d9d5 !important;
}

.footer .footer-container .second-box .my-footer-nav .my-nav-item:hover .arrow-link {
  padding: 0 20px !important;
}

.footer .footer-container .forth-box .my-form .footer-form-label {
  cursor: text;
}

.footer .footer-container .forth-box .my-form .email {
  font-size: 1.08rem;
  background-color: #111;
  outline: none;
  border: 0.18rem solid #29d9d5 !important;
  border-radius: 2rem;
  padding: 10px 15px 11.5px !important;
}

.credit {
  background-color: #222 !important;
}

.credit .credit-content {
  font-weight: 400;
  font-size: 1.3rem;
}

.credit .creatre {
  color: #29d9d5 !important;
}

@media (max-width: 768px) {
  .credit .credit-content {
    font-size: 1.1rem;
  }
}

@media (max-width: 525px) {
  .credit .credit-content {
    font-size: 0.98rem;
  }
}
/*# sourceMappingURL=style.css.map */