.main-link {
  text-decoration: none;
    font-size: 1.1rem;
    font-weight: 400;
    color: $primary;
    border: $border;
    padding: 9px 30px 11px 30px !important;
    transition: $transition;
    background-color: transparent;
    &:hover {
      color: $black !important;
      background-color: $primary;
    }
  }