$primary: #29d9d5 !important;
$secondary: #aaa !important;
$black: #111;
$white: #fff;
$light-color: rgb(14, 13, 13);
$bg-color: #222 !important;
$black-bg: #111111b3 !important;
$transition: 0.4s !important; 
$border: .18rem solid $primary;